
* {
    padding: 0;
    margin: 0;
  }

html, body{
    height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
    padding: 1em;
    background-color: rgb(33, 33, 33);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

img {
    width: 60%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 90px;
}

 .subheading, p, ol{
  font-family: Helvetica, sans-serif;

}

h1{
    font-weight: 400;
    text-align: left;
  font-size: 30px;
  padding-bottom: 0.2em;
  color: #6901a0;
   font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}
 #dates { 
  text-align: right;
  margin-top: -40px;
 }

.sagittarius { 
    color:rgb(182, 98, 254); 
  text-shadow:
      0 0 2px #7801b4,
    0 0 6px  #7801b4,
    0 0 8px  #7801b4,
    0 0 10px  #7801b4;
    font-size: 100px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}


.subheading {
    font-weight: 400;
  font-size: 3em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

p, .p1 .p2 .p3{
    font-size: 1em;
    padding-bottom: 0.5em;
    line-height: 1.8em;
    width: 550px;
    text-align: justify;
    color: rgb(167, 99, 226);
}
#Prompt { 
  font-size: 1em;
  padding-top:5px;
  margin-left: 25px;
width: 350px;
color:rgb(196, 137, 254);
}

#prompthead { 
    font-size: 2.5em;
}
#para1 {
  margin-top: 70px;
}

#message {
  font-size: 18px;
  width: 420px;
  text-align: center;
  color: rgb(164, 115, 212); 
}

ol {
    padding-left: 1.5em;
    width: 570px;
}

.subheading-1{
    padding-left: 55px;
    padding-right: 0.5em;
     font-family: "Baskervville", serif;
    font-size: 40px;
    padding-bottom: 14px;
    padding-top: 14px;
    border: solid 2px #8903d1;
  margin-bottom:36px;
  margin-top: 18px;
  border-radius: 20px;
  margin-left: 24px;
width: 400px;
    color: rgb(196, 137, 254);
font-weight: 400;

}

.subheading-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 12px;
  padding-bottom: 12px;
     font-family: "Baskervville", serif;
    font-weight: 400;
    font-size: 35px ;
    border: solid 2px #8903d1;
  margin-bottom:36px;
  margin-top: 5px;
  border-radius: 20px;
width:620px;
color:  rgb(196, 137, 254);

}
.subheading-3{
padding-left: 0.5em;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-size:35px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: solid 2px #8903d1;
  margin-bottom:30px;
  margin-top: 100px;
    margin-left: 0px;
  border-radius: 20px;
width: 200px;
color:rgb(196, 137, 254) ;

}

.subheading-4{
  padding-left: 0.10em;
  padding-right: 0.10em;
     font-family: "Baskervville", serif;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 10px;
background-color: #4b076f; 
  margin-bottom:30px;
  margin-top: 55px;
    margin-left: 70px;
  border-radius: 20px;
  text-align: center;
width: 400px;
color:rgb(196, 137, 254);
box-shadow: 0 6px 20px rgba(176, 100, 251, 0.9)

}

.subheading-1 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-1:hover {
  border-radius: 0px;
}

.subheading-2 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-2:hover {
  border-radius: 0px;
}

  .subheading-3 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-3:hover {
  border-radius: 0px;
}
  .subheading-4 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-4:hover {
  border-radius: 0px;
}
.p1{
margin-left: -20px;
margin-bottom: 16px;
}

.p2 {
  margin-left: -20px;
}

.p3 {
  margin-left: -20px;
}

.my-image2 {
  
    width: 60%;
    margin-top: 35px;
    padding-left: 110px;

}

.column1 {
  display: flex;               
  justify-content: space-between; 
  align-items: center;        
  gap: 20px;                   
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -10px;
}

.box {
  flex: 1;                     
  background-color:#4b076f;   
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  color: rgb(196, 137, 254);
  box-shadow: 0 3px 8px rgba(176, 100, 251, 0.9);
  height: 200px;              
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  line-height: 1.6em;
  margin-bottom: -30px;
  margin-left: 20px;
}


.box:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 25px rgba(176, 100, 251, 0.9);
}

.image2{
  width: 400px;
  margin-top:-180px;
  margin-bottom: -270px;
  margin-left: -10px;
}


.container {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

.left-column {
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: auto;
}

.right-column {
  flex: 1;
  overflow-y: visible;
}

body {
  overflow-x: hidden;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  animation: fadeCycle 15s ease 4s forwards;
  z-index: 9999;
}

.popup-content {
  background-color: rgb(33, 33, 33);
  color: rgb(196, 137, 254) ;
  border-radius: 20px;
  padding: 40px;
  width: 420px;
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  box-shadow: 0 6px 10px rgba(176, 100, 251, 0.9);
  transform: scale(0.8);
  opacity: 0;
  animation: popCycle 15s ease 4s forwards;
}

@keyframes fadeCycle {
  0%, 20% {
    opacity: 0;
    pointer-events: none;
  }
  25%, 85% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes popCycle {
  0%, 20% {
    transform: scale(0.8);
    opacity: 0;
  }
  25%, 85% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}